<html>
<title>
    <%= change %> Success
</title>

<body>
    <% if (change=='Delete' ) {%>
        <%- include("partials/deleteSuccess.ejs") %>
            <% }else if (change=='Edit' ) { %>
                <%- include("partials/editSuccess.ejs") %>
                    <% } %>

</body>

</html>