<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Hello</h1>

    <a href="/createPlayer">Create New Player</a>
    <a href="/players">View Players</a>
    <a href="/createCharacter/selectPlayer">Add a Character</a>
</body>

</html>